@model IEnumerable<ProductViewModel>

@{
  ViewData["Title"] = "Product Recommendation";
}

<div class="text-center">
  <h1 class="display-4">Product Recommendation</h1>
  <p>
    XO Skin AI Recommendation Engine recommends for your skin and climate:
  </p>
  <br />
  @{ 
    foreach (ProductViewModel product in Model)
    {
    <p>
      <input type="checkbox" class="" checked />
      <b>@Html.DisplayFor(modelItem => product.ProductName)</b>, $@Html.DisplayFor(modelItem => product.ProductPrice)
    </p>
    }
  }
  <br />
<p>
  <button type="submit" class="btn-outline-dark btn">Add to Shopping Basket</button>
</p>
</div>