@model IEnumerable<ProductViewModel>

@{
  ViewData["Title"] = "Product Recommendations";
}
<div class="text-sm-center">
  <h1 class="display-4">For Your <br />Skin</h1>

  <p>
    @Html.Raw(ViewData["ProductRecommendation.WelcomeText"])
  </p>
  @{
    foreach (ProductViewModel product in Model)
    {
      <p>
        <input type="checkbox" class="" checked />
        <b>@Html.DisplayFor(modelItem => product.ProductName)</b>, $@Html.DisplayFor(modelItem => product.ProductPrice)
      </p>
    }
  }
  <br />
  <p>
    <button type="submit" class="btn-outline-dark btn">Add to Shopping Cart</button>
  </p>
</div>