@{
  ViewData["Title"] = "Subscriptions and Referrals";
}

<div class="text-center">
  <h1 class="display-4">Subscriptions <br />and Referrals</h1>
  @Html.Raw(ViewData["SubscriptionsAndReferrals.WelcomeText"])
</div>
