@{
  ViewData["Title"] = "Welcome";
}

<div class="text-sm-center bg-light text-center">
  @Html.Raw(ViewData["Home.PromotionalRibbon"])
</div>
<div class="text-center">
  <h1 class="display-4">Welcome</h1>
  @Html.Raw(ViewData["Home.WelcomeText"])
</div>

<script type="text/javascript">
  $(document).ready(function () {
    $.fn.center = function () {
      this.css("position", "absolute");
      this.css("top", "40%");
      this.css("left", Math.max(0, (
        ($(window).width() - $(this).outerWidth()) / 2) +
        $(window).scrollLeft()) + "px"
      );
      return this;
    }

    $("#splash").show();
    $("#splash-content").show().center();

    setTimeout(function () {
      $("#splash-content").fadeOut(1000, removeSplash);
    }, 2800);

    function removeSplash() {
      $('#splash').remove();
      $('#content').css({ 'opacity': '100%' });
    }
  });
</script>