@{
  ViewData["Title"] = "Home Page";
}

<!--<div id="splash" class="text-sm-center bg-light text-center">
  <div id="splash-content" class="text-sm-center bg-light text-center">
    <h1 class="display-4">Welcome</h1>
    @Html.Raw(ViewData["Splash.SplashText"])-->
    @*<img src="~/img/scarjo.png" id="splash-image" />*@
  <!--</div>
</div>-->

<div class="text-sm-center bg-light text-center">
  @Html.Raw(ViewData["Home.PromotionalRibbon"])
</div>
<div class="text-center">
  <h1 class="display-4">Welcome</h1>
  @Html.Raw(ViewData["Home.WelcomeText"])
</div>

<script type="text/javascript">
  $(document).ready(function () {
    $.fn.center = function () {
      this.css("position", "absolute");
      this.css("top", "98px");
      this.css("left", Math.max(0, (
        ($(window).width() - $(this).outerWidth()) / 2) +
        $(window).scrollLeft()) + "px"
      );
      return this;
    }

    $("#splash").show();
    $("#splash-content").show().center();

    setTimeout(function () {
      $("#splash").fadeOut(1000);
    }, 2800);
  });
</script>