@{
  ViewData["Title"] = "Home Page";
}

<div class="text-sm-center bg-light">
  @Html.Raw(ViewData["Home.PromotionalRibbon"])
</div>
<div class="text-center">
  <h1 class="display-4">Welcome</h1>
    @Html.Raw(ViewData["Home.WelcomeText"])
</div>
